@import "tailwindcss";

.hero-card {
    @apply w-[110px] md:w-[120px] lg:w-[150px] absolute hidden md:flex flex-col items-start gap-1.5 bg-(--gray-50)/90 text-(--gray-900) p-3 md:p-3.5 lg:p-4 rounded-lg shadow-lg backdrop-blur-md transition-all duration-300 ease-in-out;
}

.hero-card:hover {
    @apply shadow-xl;;
}

.hero-card-title {
    @apply font-semibold text-[9px] md:text-[10px] lg:text-xs text-(--color-primary);
}

.hero-card-description {
    @apply font-bold text-sm md:text-base lg:text-lg;
}

/* CUSTOM ANIMATIONS */

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.float-animation {
    animation: float 3s ease-in-out infinite;
}

@keyframes float-reverse {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.float-reverse-animation {
    animation: float-reverse 3s ease-in-out infinite;
}
