@import "tailwindcss";


.project-card {
    @apply bg-(--gray-50)/90 backdrop-blur-2xl rounded-lg shadow-md overflow-hidden flex flex-col h-full min-h-[480px];
}

.project-card:hover {
    @apply shadow-lg cursor-pointer;
}

.project-image {
    @apply relative w-full h-64 overflow-hidden flex items-center justify-center;
}

.project-image img {
    @apply w-full h-full object-cover object-center transition-transform duration-300 ease-out;
}

.project-card:hover .project-image img {
    @apply scale-110;
}

.project-overlay {
    @apply absolute inset-0 bg-(--gray-900)/80 backdrop-blur-sm opacity-0 transition-opacity flex items-center justify-center p-4 cursor-pointer;
}

.project-card:hover .project-overlay {
    @apply opacity-100;
}

.project-overlay > a {
    @apply text-[16px] bg-(--gray-50) px-4 py-2 rounded-md text-(--gray-900) font-semibold hover:bg-(--gray-200) transition-colors;
}

.project-content {
    @apply flex flex-col flex-1 p-6 justify-between;
}

.project-type-container {
    @apply bg-(--color-primary)/10 border border-(--color-primary)/20 inline-block px-3 py-0.5 rounded-md mb-4;
}

.project-type {
    @apply font-bold text-[11px] text-(--color-primary) uppercase tracking-wide mb-2;
}

.project-title {
    @apply text-xl text-(--gray-900) font-bold mb-4;
}

.project-description {
    @apply text-sm text-(--gray-500) mb-6
}
.project-technologies {
    @apply flex flex-wrap gap-2
}

.project-technology {
    @apply text-xs text-(--gray-700) bg-(--gray-200)/80 px-2 py-1 rounded-md
}

.project-links {
    @apply flex flex-row gap-4 mt-5;
}

.project-links-link {
    @apply text-lg text-(--gray-50) bg-(--color-primary) px-3 py-1 rounded-md font-semibold hover:bg-(--color-primary)/90 transition-colors;
}