@import "tailwindcss";

.key-points-card {
    @apply bg-(--gray-50)/90 border border-(--gray-900)/15 backdrop-blur-2xl flex flex-col items-center rounded-lg shadow-md p-6 w-56 text-center transition-all duration-300 ease-in-out;
}

.key-points-icon {
    @apply text-(--color-primary) text-4xl;
}

.key-points-title {
    @apply font-bold text-xl text-(--gray-900) mt-4;
}

.key-points-description {
    @apply text-(--gray-700) mt-6;
}