@import "tailwindcss";

.about-skill {
    @apply bg-(--gray-50)/90 border border-(--gray-900)/15 backdrop-blur-2xl flex flex-col items-center rounded-lg shadow-md p-6 w-56 text-center min-h-[320px] transition-all duration-300 ease-in-out;
}

.about-skill:hover {
    @apply shadow-lg transform scale-105 transition-all duration-300;
}

.about-skill span {
    @apply text-4xl mb-3 text-(--color-secondary);
}

.about-skill h3 {
    @apply text-lg text-(--color-primary) font-bold mb-4 text-center;
}

.about-skill-list {
    @apply flex flex-col items-center justify-center w-full gap-2;
}

.about-skill-list span {
    @apply text-sm text-(--gray-700);
}