@import "tailwindcss";

.hero-section {
    @apply relative w-[1200px] flex flex-col md:flex-row lg:items-center gap-10 lg:gap-20 px-5;
}

.hero-buttons {
    @apply flex flex-row justify-center sm:justify-start gap-5 mt-10;
}

.hero-buttons > button:first-child {
    @apply bg-(--color-primary) text-(--gray-50) px-6 py-4 rounded-lg cursor-pointer transition-transform duration-300 ease-in-out;
}

.hero-buttons > button:last-child {
    @apply bg-transparent border-2 border-(--gray-900) text-(--gray-900) px-6 py-4 rounded-lg cursor-pointer transition-all duration-300 ease-in-out;
}

.hero-buttons > button:first-child:hover {
    @apply translate-y-[-3px] shadow-md;
}

.hero-buttons > button:last-child:hover {
    @apply translate-y-[-3px] shadow-md bg-(--gray-900) text-(--gray-50);
}

.hero-image {
    @apply relative md:absolute w-full sm:w-[300px] md:w-[450px] lg:w-[500px] bottom-0 right-0;
}