@import "tailwindcss";

.projects-header-section {
    @apply pt-30 bg-linear-to-t from-gray-100 to-(--color-secondary)/20;
}

.projects-header {
    @apply w-full max-w-[1200px] mx-auto text-start flex flex-col items-center justify-start gap-5 px-5;
}

.projects-header-title {
    @apply text-5xl font-bold text-(--gray-900);
}

.projects-header-description {
    @apply text-lg text-(--gray-700);
}

.projects-container {
    @apply w-full max-w-[1200px] mx-auto flex flex-col items-center justify-start gap-10 px-5 mt-20;
}

.projects-grid {
    @apply w-full grid grid-cols-1 md:grid-cols-2 gap-10;
}