@import "tailwindcss";

.featured-projects-section {
    @apply flex flex-col items-center justify-center mt-20 py-12 bg-gray-100;
}

.featured-projects-title {
    @apply text-3xl text-(--gray-900) font-bold mb-8;
}

.featured-projects-container {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-6xl px-4;
}